target/
bin/
.settings/
.classpath
.project
*.iml
*.log
**/*.zip
tags
.idea
**/*.iml
bundles/**/META-INF/
bundles/**/git.properties
git.properties
**/git.properties
**/*.jar
**/*.esa
**/*.class
**/*.log
**/*.out
**/*.trace
**/*.rar
**/*.gz
**/*.tar
**/*.zip
**/*.exe
**/*.dmg
**/*.pdf
**/*.bak
**/*.json
!bundles/**/src/main/resources/META-INF/
**/test-output/**
.DS_Store
**/test-output
